/Histogramm/venv

/Characteristics/venv
/Characteristics/__pycache__

/Boxplot/venv
/Boxplot/__pycache__

/KernelEstimation/venv
/KernelEstimation/__pycache__
/KernelEstimation/images


/Correlation/venv
/Correlation/__pycache__
/Correlation/images


/Regression/venv
/Regression/__pycache__
/Regression/images

/Hypothesis/venv
/Hypothesis/__pycache__

/ConfidenceInterval/venv
/ConfidenceInterval/__pycache__
